@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}


main{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

.box1{
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: #FFFFFF;
    width: 500px;
    height: 750px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}

.HBox1{
    margin-bottom: 50px;
    opacity: 0.7;
}
.HBox2{
    padding: 30px;
}

.number{
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 300px;
    height: 300px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    margin: 15px;
}

.of100{
    font-size: 25px;
    opacity: 0.5;
}

h1{
    font-size: 100px;
}

.text{
    width: 300px;
}

h3{
    font-weight: 100;
    font-size: 24px;
}

p{
    font-size: 40px;
    font-weight: bold;
}

.box2{
    background: #FFFFFF;
    width: 500px;
    height: 750px;
    border-radius: 30px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: flex-start;
}

.summary{
    margin-bottom: 50px;
    padding-left: 5px;
}

.HBox2{
    margin: 10px;
}

.infos{
    justify-content: center;
    align-items: center;
    display: grid;
    margin-bottom: 30px;
}

.info1, .info2, .info3, .info4{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin: 10px;
    height: 4vh;
    padding: 10px;
    border-radius: 10px;
}
.info1{
    background: hsl(0, 97%, 95%);
    width: 400px;
    height: 80px;
}
.info2{
    background: hsl(39, 97%, 95%);
    width: 400px;
    height: 80px;
}
.info3{
    background: hsl(166, 97%, 95%);
    width: 400px;
    height: 80px;
}
.info4{
    background: hsl(241, 100%, 95%);
    width: 400px;
    height: 80px;
}

.av1, .av2, .av3, .av4{
    display: flex;
}
.av1{
    color: hsl(0, 100%, 67%);
    margin-left: 5px;
    gap: 15px;
}
.av2{
    color: hsl(39, 100%, 56%);
    margin-left: 5px;
    gap: 15px;
}
.av3{
    color: hsl(166, 100%, 37%);
    margin-left: 5px;
    gap: 15px;
}
.av4{
    color: hsl(234, 85%, 45%);
    margin-left: 5px;
    gap: 15px;
}

.btn{
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    margin-top: 30px;
}

button{
    width: 400px;
    height: 80px;
    border-radius: 40px;
    background: hsl(224, 30%, 27%);
    color: white;
    font-size: 25px;
    cursor: pointer;
    border: none;
}

button:hover{
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}